[access]
	inheritFrom = All-Projects
[project]
	description = OVIL (Opendaylight VPP Interface Layer) implements a new southbound plugin vpp which will be in charge of configuring vpp node as only one point of operation for all the vpp nodes.
[access "refs/*"]
	owner = group ldap/gerrit-ovil-committers
[access "refs/heads/*"]
	read = group GitHub Replication
